@media (min-width: 1024px) and (hover: hover) {
  @keyframes slide-in {
    from {
      transform: translateX(-100%) scale(1.5);
      opacity: 0;
    }
    to {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes rotate-rise {
    from {
      transform: translateY(100%) rotate(0) scale(1.5);
      opacity: 0;
    }
    to {
      transform: translateY(0) rotate(360deg) scale(1);
      opacity: 1;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(-100%) scale(1, 1);
      opacity: 0;
    }

    25% {
      transform: translateY(0) scale(1, 0.5);
    }

    50% {
      transform: translateY(-50%) scale(1, 1);
    }

    60% {
      transform: translateY(0) scale(1, 0.75);
    }

    75% {
      transform: translateY(-25%) scale(1, 1);
    }

    100% {
      transform: translateY(0) scale(1, 1);
    }
  }

  a:hover {
    color: #2476ff;
  }

  .buy-now-button:hover {
    background-color: white;
    border: 2px solid #2476ff;
    color: #2476ff;
  }

  .plan:hover {
    box-shadow: 0 10px 20px 0 #00000026;
  }

  .top-video-button:hover {
    background-color: white;
    color: #2476ff;
    border: 2px solid #2476ff;
  }

  .sketch-button:hover {
    background-color: white;
    color: #01c9a7;
    border: 2px solid #01c9a7;
  }

  .nav-container ul li span:hover {
    background-color: white;
    color: #2476ff;
    border: 2px solid #2476ff;
  }

  .top-navigation .tri-gram {
    display: none;
  }
}

@media (max-width: 1023px) {
  .top-navigation ul {
    display: none;
  }

  .top-navigation .buy-now-button {
    display: none;
  }

  .top-navigation .tri-gram {
    display: flex;
  }

  .hero-section {
    flex-direction: column;
    height: 664px;
    gap: 10px;
  }

  .left-hero-section {
    align-items: center;
    padding-bottom: 60px;
  }

  .left-text {
    width: 100%;
    align-items: center;
  }

  .logo-bubble-google {
    top: 0;
    left: 110px;
  }

  .logo-bubble-atlassian {
    top: 0;
    left: 287px;
  }

  .logo-bubble-asana {
    top: 0;
    left: 533px;
  }

  .logo-bubble-paypal {
    top: 99px;
    left: 112px;
  }

  .logo-bubble-google-ads {
    top: 209px;
    left: 230px;
  }

  .logo-bubble-weave {
    top: 99px;
    left: 414px;
  }

  .logo-bubble-calendar {
    top: 221px;
    left: 517px;
  }

  .why-front-section {
    padding-bottom: 80px;
  }

  .plans-feature-list {
    flex-direction: column;
    padding: 0 44px 0;
  }

  .plan {
    width: 100%;
    padding: 40px;
  }

  .plan-header-title {
    text-align: center;
  }

  .plan-footer {
    align-items: center;
  }

  .hire-us-section {
    flex-direction: column;
    height: auto;
  }

  .left-hire-us {
    flex-direction: row;
    padding: 40px 30px 20px;
  }

  .right-hire-us {
    padding: 30px;
  }

  .invisible-link {
    display: none;
  }

  .footer-contact-info {
    width: 55%;
  }

  .footer-nav-info {
    gap: 49px;
    flex-wrap: wrap;
  }

  .company-nav {
    margin-right: 46px;
  }

  .features-nav {
    margin-right: 31px;
  }

  .nav-container {
    flex-direction: row;
  }

  .contact-nav a {
    color: #2476ff;
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding: 40px 16px 25px;
    height: 100;
    width: 100%;
  }

  .left-text {
    text-align: center;
  }

  .logo-bubble-google {
    top: 0;
    left: 0;
  }

  .logo-bubble-atlassian {
    top: 0;
    left: 114px;
  }

  .logo-bubble-asana {
    top: 0;
    left: 248px;
  }

  .logo-bubble-paypal {
    top: 99px;
    left: 0;
  }

  .logo-bubble-google-ads {
    top: 209px;
    left: 106px;
  }

  .logo-bubble-weave {
    top: 99px;
    left: 184px;
  }

  .logo-bubble-calendar {
    top: 219px;
    left: 239px;
  }

  .why-front-section {
    padding: 0 16px 80px;
    width: 100%;
  }

  .why-front-title p {
    width: 100%;
    line-height: 24px;
    font-size: 16px;
  }

  .why-front-bullets-list {
    flex-direction: column;
    padding: 0 34px;
    gap: 17px;
  }

  .bullet-box {
    flex-direction: row;
    width: auto;
    padding: 0;
  }

  .bullet-top {
    justify-content: flex-start;
    width: 30%;
  }

  .bullet-title {
    justify-content: flex-start;
    font-weight: 700;
  }

  .bullet-top::before,
  .bullet-top::after {
    display: none;
  }

  .pricing-section {
    padding: 0 16px 60px;
  }

  .plans-feature-list {
    padding: 0;
  }

  .plan-features {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .feature-row {
    flex-direction: column;
  }

  .plan-feature-item {
    width: auto;
  }

  .item-content {
    padding: 20px 0 20px;
  }

  .hire-us-section {
    padding: 0;
  }

  .left-hire-us {
    flex-direction: column;
    padding: 40px 16px 20px;
  }

  .hire-us-top {
    text-align: center;
  }

  .hire-us-bottom {
    align-items: center;
    text-align: center;
  }

  .right-hire-us {
    padding: 30px 16px 30px;
  }

  .form-group-name {
    flex-direction: column;
  }

  .form-group-select {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 80px 16px 40px;
  }

  .footer-contact-info {
    width: auto;
    align-items: center;
  }

  .front-phone {
    justify-content: center;
  }

  .footer-nav-info {
    flex-direction: column;
    align-items: center;
  }

  .company-nav {
    margin: 0;
  }

  .features-nav {
    margin: 0;
  }

  .nav-list ul {
    align-items: center;
  }

  .nav-list h2 {
    text-align: center;
  }
}
